<header>
  <h1>Task's Maker</h1>
  <nav>
    <ul>
      <li><a href="/user">Usuários</a></li>
      <li><a href="/category">Categorias</a></li>
      <li><a href="/task">Tarefas</a></li>
    </ul>
  </nav>
</header>
