<header>
  <h1>Minha Aplicação</h1>
  <nav>
    <ul>
      <li><a href="/users">Usuários</a></li>
      <li><a href="/categories">Categorias</a></li>
      <li><a href="/tasks">Tarefas</a></li>
    </ul>
  </nav>
</header>
